<nav class="navbar navbar-dark bg-dark">
    <div>
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/admin/categories" >Categorias</a>
        <a class="navbar-brand" href="/admin/articles" >Artigos</a>        
        <a class="navbar-brand" href="/admin/articles/new" >Novo Artigo</a>    
    </div>
</nav>