<nav class="navbar navbar-dark bg-dark">
    <div>
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/admin/users/new">Cadastrar-se</a>
        <a class="navbar-brand" href="/login"> Login </a>
    </div>
</nav>